.deck_item {
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.deck_info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-grow: 1;
}

.title {
    font-size: larger;
    word-break: break-all;
}

.deck_buttons {
    display: flex;
    justify-content: end;
    margin-left: 10px;
}

.cards_to_learn_count {
    color: grey;
    margin-top: 5px;
    border-top: grey solid 2px;
    padding-top: 5px;
    font-size: smaller;
}