@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.login {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.login h1 {
   margin: 10px;
}

.login button {
    align-self: center;
    margin-top: 5px;
}